.titulo {
    background-color: rgb(210, 250, 250);
    text-align: center;
    height: 200px;
    margin-top: 1%;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}



body {
    margin: 0;
    padding: 0;
}

.imagen img{
    width: 100%;
    height: 400px;
}


.contenedor {
    width: 100%;
    height: 50%;
}

.titulo header h1 {
    font-size: 130px;
    margin-top: -8%;
    
}

.titulo h2 {
    font-size: 45px;
    margin-top: -7%;
    
}

.avene {
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    border: 2px solid #ddd;
    padding: 40px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
    margin-left: 80px;
    
}

.avene-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline; 
    color: black; 
    text-decoration: none; 
    font-size: 100px;
    margin-top: 45px;
    font-family: 'Playfair Display', serif;
    transition: text-shadow 0.3s; 
}

.avene-button:focus {
    outline: none; 
}


.avene-button:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    text-decoration: none; 
    color: black; 
}



.ordinary {
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    border: 2px solid #ddd;
    padding: 40px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
    margin-left: 80px;
}

.ordinary-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline; 
    color: black; 
    text-decoration: none; 
    font-size: 90px;
    margin-top: 45px;
    font-family: 'Playfair Display', serif;
}

.ordinary-button:focus {
    outline: none; 
  
}

.ordinary-button:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    text-decoration: none; 
    color: black; 
}



.cerave {
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    border: 2px solid #ddd;
    padding: 40px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
    margin-left: 80px;
}

.cerave-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline; 
    color: black; 
    text-decoration: none; 
    font-size: 100px;
    margin-top: 45px;
    font-family: 'Playfair Display', serif;
}

.cerave-button:focus {
    outline: none; 
  
}

.cerave-button:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    text-decoration: none; 
    color: black; 
}

.neutrogena {
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    border: 2px solid #ddd;
    padding: 40px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
    margin-left: 80px;
}


.neutrogena-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline; 
    color: black; 
    text-decoration: none; 
    font-size: 75px;
    margin-top: 70px;
    font-family: 'Playfair Display', serif;
}

.neutrogena-button:focus {
    outline: none; 
  
}

.ordinary-button:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    text-decoration: none; 
    color: black; 
}

.ponds {
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    border: 2px solid #ddd;
    padding: 40px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
    margin-left: 80px;
}


#seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 1150px;
    height: 1420;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 15px 0;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-content a:hover {
    color: #ff9900;
}

.btnlogin {
    background-color: #3498db;
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 1250px;
    display: inline-block;
    margin-top: 7%;
    width: 150px;
}

.btnlogin:hover { 
    background-color: #2980b9;  
}

.btnlogin:active{
    background-color: #266799;
}