/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada y botón */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#btnEnviar {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#btnEnviar:hover {
    background-color: #45a049;
}

/* Estilos para el mensaje de error */
.error {
    color: #ff0000;
    margin-bottom: 15px;
    display: none; /* Ocultar el mensaje de error por defecto */
}

.errors {
    display: block; /* Mostrar el mensaje de error al agregar la clase 'errors' */
}
